body{
    background-color: #2596be;
    text-align: center;
    padding-left: 450px;
    padding-right: 450px;
    padding-top: 25px;
}

#banner-title {
    font-family: 'Roboto';
    font-size: 3em;
    font-weight: bold;
}
#banner-title:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}

#Quote {
    padding-left: 50px;
    padding-right: 50px;
}

#quote-box {
    
    font-size: .82em;
    color: white;
}

#quote-author {
    font-family: "Roboto";
    font-size: .85em;
    color: white;
}

#list-box {
    text-align: left;
}

#list-box-content {
    max-width: 450px;
    margin: 0 auto;
    text-align: left;
    font-size: 1.10em;
    font-weight: 1000;
    font-style: bold;
}

.list-content {
    margin-bottom: 5px;
}

#p-nelly {
    width: 200px;
 }

 #quote-box-two {
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
    color: white;
 }
 #quote-author-two {
    
 }

 #bottom-text-one {
    margin-bottom: -27px;
 }

 #bottom-text-two {
    max-width: 400px;
    margin: 0 auto;
 }