body {
    max-width: 1200px;
    margin: 0 auto;
}
header {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

main {
    height: 300px;
    background-color: lightslategray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px;
    margin-top: -10px;
}

.circle {
    border-radius: 50%;
    border: 8px solid darkslategray;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.circle:hover {
    border-color: darkturquoise;
}